@font-face {
    font-family: rubik;
    src: url(./fonts/Rubik.ttf);
}

:root {
    --gray: hsl(0, 0%, 59%);
    --dark-gray: hsl(0, 0%, 17%);
}

* {
    font-family: rubik;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-image: url(./images/pattern-bg-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 2rem;
}

h1 {
    font-weight: 500;
}

main {
    position: absolute;
    top: 30vh;
    background-color: #fff;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    gap: 2rem;
    z-index: 2;
}

main > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (max-width: 769px) {
    main {
        flex-direction: column;
        top: 25vh;
        text-align: center;
        gap: 1rem;
    }

    main > div {
        gap: 0.3rem;
    }
    hr {
        display: none;
    }
}

h4 {
    color: var(--gray);
}

input,
button {
    all: unset;
}
input {
    width: 90%;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}
input::placeholder {
    font-size: 1.2rem;
}
button {
    width: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 1rem 1rem 0;
}

button:hover {
    cursor: pointer;
}

.search {
    display: flex;
    border-radius: 1rem;
    width: 35%;
    background-color: #fff;
    color: #000;
    margin-bottom: 1rem;
}

@media (max-width: 769px) {
    .search {
        width: 90%;
        margin: 0 auto;
    }
}

#map {
    height: 60vh;
    width: 100%;
    z-index: 0;
}

.error {
    color: red;
    display: none;
}
